<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="shortcut icon" href="resources/images/altokelobo.png"> -->
    <link href="https://necolas.github.io/normalize.css/8.0.1/normalize.css" rel="stylesheet">
    <!-- <link rel="stylesheet" href="resources/styles.css"> -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="resources/css/style.css">
    <title>Leopold.Social</title>
</head>
<body>
    <div class="container-fluid bg-dark">
        <div class="container">
            <div class="row">
                <div class="col-12 back2 d-flex flex-row justify-content-between p-3 mb-3 rounded-3">
                    <div class="w-50 d-flex flex-row justify-content-around align-items-center">
                        <h1 class="text-white">Leopold</h1>
                        <a href="#">Directorio de perfiles</a>
                        <a href="#">Informacion</a>
                        <a href="#">Aplicaciones moviles</a>
                    </div>
                    <div class="d-flex align-items-center">
                        <a href="#">Volver al inicio</a>
                    </div>
                </div>
                <div class="col-12">
                    <div class="row">
                        <div class="col-12">
                            <!--LA IMAGEN ES UN BACKGROUND-->
                            <div class="w-100 d-flex flex-row justify-content-between align-items-center">
                                <div class="w-100 d-flex justify-content-end">
                                    <div class="w-100 d-flex flex-row justify-content-between align-items-center">
                                        <div><!--DIV REDONDO-->
                                            <img src="" alt="">
                                        </div>
                                        <div class="d-flex flex-column justify-content-around">
                                            <div class="d-flex flex-column align-items-start">
                                                <h3>Leopold en espa;ol</h3>
                                                <p class="text-white">@leopold_es</p>
                                            </div>
                                            <div class="d-flex flex-row justify-content-evenly align-items-center">
                                                <div class="text-center text-white p-1">
                                                    <h5>9</h5>
                                                    <p>Publicaciones</p>
                                                </div>
                                                <div class="text-center text-white p-1">
                                                    <h5>11</h5>
                                                    <p>Siguiendo</p>
                                                </div>
                                                <div class="text-center text-white p-1">
                                                    <h5>977</h5>
                                                    <p>Seguidores</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div>
                                            <button type="button" class="btn btn-primary">Seguir</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-8 col-md-8 col-sm-12 p-2">
                            <div class="card text-center">
                                <div class="card-header">
                                    <ul class="nav nav-tabs card-header-tabs">
                                        <li class="nav-item">
                                            <a class="nav-link active" aria-current="true" href="#Publicaciones">Active</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link active" href="#PublicacionesYRespuestas">Link</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link active" href="#Multimedia" tabindex="-1" aria-disabled="true">Disabled</a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="card-body" id="Publicaciones">
                                    <h5 class="card-title">Special title treatment</h5>
                                    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                                </div>
                                <div class="card-body" id="PublicacionesYRespuestas">
                                    <h5 class="card-title">Special title treatment</h5>
                                    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                                </div>
                                <div class="card-body" id="Multimedia">
                                    <h5 class="card-title">Special title treatment</h5>
                                    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-12 p-2" id="ing">
                            <form class="back2 p-4 rounded-3" action="/auth" method="POST">
                                <div class="mb-3">
                                    <input type="email" class="form-control back3 border-0" placeholder="Email" name="email">
                                </div>
                                <div class="mb-3">
                                    <input type="password" class="form-control back3 border-0" placeholder="Password" name="contra">
                                </div>
                                <button type="submit" class="btn backbutton w-100 text-white mb-3">Iniciar sesion</button>
                                <p class="text-center"><a href="#">Problemas para inicar sesion??</a></p>
                            </form>
                            
                            <div class="w-100 border-0 mt-4 rounded-3">
                                <img src="resources/images/foto1.jpg" class="card-img-top rounded-3">
                                <div class="rounded-3 p-3 back2 w-100">
                                    <p class="text-white-50">Server run by the main developers of the project 🧙‍♂️ It is not focused on any particular niche interest - everyone is welcome as long as you follow our code of conduct! Aprende más </p>
                                    <div class="w-100 d-flex flex-row justify-contentent-between">
                                        <div class="w-50 d-flex flex-column justify-content-around">
                                            <p class="text-white-50 fw-bold text-center">ADMINISTRADO POR:</p>
                                            <div class="card border-0 back2 d-flex flex-row justify-content-evenly">
                                                <img src="resources/images/altokelobo.png" style="width: 50px; height: 50px;">
                                                <div>
                                                    <p><span class="text-white fw-bold">Panchito</span><br><span class="text-white-50">@Issco07</span></p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="w-50 d-flex flex-column justify-content-around">
                                            <p class="text-white-50 fw-bold text-center">DATOS DEL SERVIDOR:</p>
                                            <div class="card border-0 back2 d-flex flex-row justify-content-around">
                                                <div>
                                                    <p><span class="text-white fw-bold">570 m</span><br><span class="text-white-50">usuarios</span></p>
                                                </div>
                                                <div>
                                                    <p><span class="text-white fw-bold">28 m</span><br><span class="text-white-50">activo*</span></p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 mt-3 p-3">
                    <div class="row">
                        <div class="col-log-2 col-md-2 col-sm-12">
                            <h6 class="text-white-50">RECURSOS</h6>
                            <p><a href="#" class="text-white-50 text-decoration-none">Condiciones de servicio</a></p>
                            <p><a href="#" class="text-white-50 text-decoration-none">Politica de privacidad</a></p>
                        </div>
                        <div class="col-log-2 col-md-2 col-sm-12">
                            <h6 class="text-white-50">DESARROLLADORES</h6>
                            <p><a href="#" class="text-white-50 text-decoration-none">Documentacion</a></p>
                            <p><a href="#" class="text-white-50 text-decoration-none">API</a></p>
                        </div>
                        <div class="col-log-4 col-md-4 col-sm-12 d-flex flex-column align-items-center">
                            <h5 class="text-white-50">Que es Leopold??</h5>
                            <p class="text-white-50 fw-bold">LEOPOLD</p>
                        </div>
                        <div class="col-log-2 col-md-2 col-sm-12">
                            <h6 class="text-white-50">LEOPOLD.SOCIAL</h6>
                            <p><a href="#"  class="text-white-50 text-decoration-none">Informacion</a></p>
                            <p><a href="#" class="text-white-50 text-decoration-none">V3.4.1</a></p>
                        </div>
                        <div class="col-log-2 col-md-2 col-sm-12">
                            <h6 class="text-white-50">Mas..</h6>
                            <p><a href="#" class="text-white-50 text-decoration-none">Codigo fuente</a></p>
                            <p><a href="#" class="text-white-50 text-decoration-none">Aplicaciones moviles</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</body>
</html>